extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="sobre nostros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis augue arcu, sit amet auctor justo tristique in. Cras sit amet tincidunt ligula. Sed in interdum justo. Nullam et maximus nulla. Integer sed placerat neque, eu cursus enim. Ut tempus diam eget dolor finibus accumsan. Suspendisse efficitur tortor et consectetur imperdiet. In ut enim ultricies, hendrerit nibh tincidunt, condimentum justo.

                p id tellus ligula. Sed ultrices eget lacus eu facilisis. Ut ultricies, neque quis gravida semper, diam nibh molestie elit, ut luctus ipsum est nec diam. Proin volutpat lacus et auctor hendrerit. Mauris a dolor ut nunc porttitor scelerisque. Nullam feugiat ac mi id posuere. Praesent suscipit ligula in risus porta tristique.

                p eu felis a purus interdum tincidunt id ac neque. Fusce pulvinar, quam sed ullamcorper tristique, lorem est aliquam turpis, vitae accumsan nisi diam ut risus. Morbi id maximus massa. Curabitur vel interdum sapien. Fusce eu gravida mauris. Nullam quis nibh eget massa efficitur pretium. Integer interdum non nulla at posuere. Ut eu gravida felis, eu posuere enim. Proin vulputate eros in ultricies auctor. Pellentesque tortor massa, ornare eget enim eget, placerat pretium leo.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea debitis illo doloremque quia cupiditate ex laborum autem porro commodi unde officia sequi ut voluptates at nobis totam, aspernatur velit dignissimos?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea debitis illo doloremque quia cupiditate ex laborum autem porro commodi unde officia sequi ut voluptates at nobis totam, aspernatur velit dignissimos?

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea debitis illo doloremque quia cupiditate ex laborum autem porro commodi unde officia sequi ut voluptates at nobis totam, aspernatur velit dignissimos?